<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type = "text/css"  href = "/views/styles.css"/>
    <title>N^2 Resturants</title>
</head>
<body>
<div class = "centerNav">
<div class = "headerStyles">
    <select id = "firstList" name = "firstList">
        <option value = "none">No Filter</option>
        <option value = "countrySelector">Country</option>
        <option value = "citySelector">City</option>
        <option value = "cuisineSelector">Cuisine</option>
    </select>

    <select  id = "secondList" name = "secondList">
        <option>No Filter</option>
    </select>
    
    <button id = "applyFilter">APPLY </button>
    <button  id = "removeFilter">REMOVE </button>
</div>
</div>

<div class = "centerTable">
    <div class = "tableDiv">
    <table>
        <thead>
            <th>Name</th>
            <th>Country</th>
            <th>City</th>
            <th>Cuisine Type</th>
        </thead>

        <tbody>
            <tr>
               
            </tr>
        </tbody>    
 


    </table>
</div>
</div>


<div class = "bottomNav">

    <button id = "previous" name = "previous">LAST </button> 


        <p id = "middleText" name = "middleText">Displaying </p>

       

        <button id = "next" name = "next">NEXT </button>
    </div>
    </div>
    <label>Per page: </label>
            <select id="perPage">
                <option value=5>5</option>
                <option value=10>10</option>
                <option value=25>25</option>
                <option value=50>50</option>
            </select>
            <script>

            </script>
</body>

<script type="text/javascript">
let table = document.querySelector('table tbody');
let page = 0;
let take = 5;
let countries = <%- JSON.stringify(countries) %>;
let cities = <%- JSON.stringify(cities) %>;
let cuisines = <%- JSON.stringify(cuisine) %>;


getData();
info();
let count = 0;
//document.getElementById("middleText").innerHTML = `Displaying ${count} of 200`;

let firstFilter = document.querySelector('#firstList');
firstFilter.addEventListener("change", event => { 
 
document.getElementById("secondList").innerHTML = "<option value = 'noFilter'> No Filter </option>";
let optionSelected = document.querySelector('#firstList option:checked');
if(optionSelected.value == "countrySelector"){
    for(let i =0;i<countries.length;i++){
    document.getElementById("secondList").innerHTML += `<option value='${countries[i].options}'>${countries[i].options}</option>`;
    }
}else if(optionSelected.value == "citySelector"){
    for(let i =0;i<cities.length;i++){
    document.getElementById("secondList").innerHTML += `<option value='${cities[i].options}'>${cities[i].options}</option>`;
    }
}else if(optionSelected.value == "cuisineSelector"){
    for(let i =0;i<cuisines.length;i++){
    document.getElementById("secondList").innerHTML += `<option value='${cuisines[i].options}'>${cuisines[i].options}</option>`;
    }
}
});
document.querySelector("#previous").addEventListener("click", event => {
    if(page == 0)
        page = 0;
    else
       { page--;
        count = count - take;
        info();
}
});

document.querySelector("#next").addEventListener("click", event => {
    page++;
    count = count + take;
    info();
    
});

document.querySelector("#perPage").addEventListener("change", event => {
    page = 0;
    take = 0;
    let perPageValue = document.querySelector('#perPage option:checked').value;
    take = perPageValue;
    info();
});
document.querySelector("#removeFilter").addEventListener("click",event => {
    document.getElementById("firstList").innerHTML =    
            `<option value = "none">No Filter</option>
            <option value = "countrySelector">Country</option>
            <option value = "citySelector">City</option>
            <option value = "cuisineSelector">Cuisine</option>`;
    document.getElementById("secondList").innerHTML =  `<option value = "none">No Filter</option>`;
});
function info()
{
    let filter1Value = document.getElementById("firstList").value;
    let filter2Value = document.getElementById("secondList").value;
 
if(filter1Value == "countrySelector")
  {
    getCountry()
  }
  else if (filter1Value == "citySelector")
  {
    getCity()
  }
  else if (filter1Value == "cuisineSelector")
  {
    getCuisine()
  }
  else
  {
    getData()
  }
}
document.querySelector("#applyFilter").addEventListener("click", event => {
  console.log("HELLO");
  let filter1Value = document.getElementById("firstList").value;
  let filter2Value = document.getElementById("secondList").value;

  if(filter1Value == "countrySelector")
  {
    getCountry()
  }
  else if (filter1Value == "citySelector")
  {
    getCity()
  }
  else if (filter1Value == "cuisineSelector")
  {
    getCuisine()
  }
  else
  {
    getData()
  }
});

function DisplayingNumber(count)
{
    document.getElementById("middleText").innerHTML = `Displaying ${count} of 200`;

}
function getData(){
    fetch(`/places?page=${page}&take=${take}`)
    .then(response => response.json())
    .then(data => {
        table.innerHTML = "";
        for(let i = 0; i <data.length; i++) {
            table.innerHTML += `
                <tr>
                    <td>${data[i].name}</td>
                    <td>${data[i].country}</td>
                    <td>${data[i].city}</td>
                    <td>${data[i].cuisine}</td>
                </tr>`;  
        }
    })     
};
function getCountry(){
    let select = document.getElementById("secondList").value;
    fetch(`/country?option=${select}`)
        .then(response => response.json())
        .then(data =>{
        table.innerHTML = "";
        for(let i = 0; i <data.length; i++) {
            table.innerHTML += `
                <tr>
                    <td>${data[i].name}</td>
                    <td>${data[i].country}</td>
                    <td>${data[i].city}</td>
                    <td>${data[i].cuisine}</td>
                </tr>`;  
        }
        document.getElementById("middleText").innerHTML = `Displaying ${count} of ${data.length}`;     
    });
}
function getCity(){
    let select = document.getElementById("secondList").value;
    fetch(`/city?option=${select}`)
        .then(response => response.json())
        .then(data =>{
        table.innerHTML = "";
        for(let i = 0; i <data.length; i++) {
            table.innerHTML += `
                <tr>
                    <td>${data[i].name}</td>
                    <td>${data[i].country}</td>
                    <td>${data[i].city}</td>
                    <td>${data[i].cuisine}</td>
                </tr>`;  
        }
        document.getElementById("middleText").innerHTML = `Displaying ${count} of ${data.length}`;     
    });
}
function getCuisine(){
    let select = document.getElementById("secondList").value;
    fetch(`/cuisine?option=${select}`)
        .then(response => response.json())
        .then(data =>{
        table.innerHTML = "";
        for(let i = 0; i <data.length; i++) {
            table.innerHTML += `
                <tr>
                    <td>${data[i].name}</td>
                    <td>${data[i].country}</td>
                    <td>${data[i].city}</td>
                    <td>${data[i].cuisine}</td>
                </tr>`;  
        }
        document.getElementById("middleText").innerHTML = `Displaying ${count} of ${data.length}`;     
    });
}
</script>
</html>
